PORT=4001
MONGO_URI=mongodb+srv://JOSH:gCtTIiF1N1oP6Guy@backend-basics.99y8usk.mongodb.net/uber_auth?retryWrites=true&w=majority
JWT_SECRET=change_this_in_production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
USER_SERVICE_URL=http://localhost:4002
