PORT=4004
MONGO_URI=mongodb+srv://JOSH:gCtTIiF1N1oP6Guy@backend-basics.99y8usk.mongodb.net/uber_rides?retryWrites=true&w=majority
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_this_in_production
DRIVER_SERVICE_URL=http://localhost:4003
